<form name="singup" action="/auth/signIn" method="post">
    username: <input name="username" id="username" style="color: darkviolet;" /><br />
    password: <input type="password" name="password" id="password" style="color: darkviolet;" /><br />
    <input type="submit" class="btn btn-primary btn-lg" value="SIGN UP TODAY"></button>
</form>